.container {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        width: 80%;

        svg {
            width: 5000px;
            height: 7rem;
            animation: slideRight 120s linear infinite;
    
            .text {
                color: #434343;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: -0.39px;
                text-transform: uppercase;
            }
        }
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}